body {
    background-color: #eee;
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
}

#menu_opener {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

#menu_opener .menu {
    margin-bottom: 5px;
    height: 5px;
    width: 30px;
    border-radius: 25%;
    background-color: #555;
}


#menu_area {
    width: 0px;
    height: 100vh;
    background-color: #ccc;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all ease .5s;
}

#menu_area ul, #menu_area li {
    padding: 0;
    list-style: none;
}

#menu_area li {
    display: block;
    padding: 10px;
    color: #555;
    cursor: pointer;
}

#menu_area li:hover {
    background-color: #ddd;
}

button {
    cursor: pointer;
    border: none;
}


